<html layout:decorate="~{Layout}">
<div layout:fragment="content">

<div class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;"
				th:text="${question.content}"></div>
			<div class="d-flex justify-content-end">
			
				<!-- 2월 16일 : 수정일시 표시하기 -->
				<div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			
				<div class="badge bg-light text-dark p-2 text-start">
				
					<!-- 2월 16일 : 질문상세 템플릿 글쓴이 추가 -->
					<div class="mb-2">
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span>
					</div>
					
					<div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}">
					</div>
					
				</div>
			</div>
			
			<!-- 질문 수정버튼 추가 
				question.author가 null이 아니거나 principal에 username과 question객체의 username같을 경우만 수정버튼을 출력함.
				#authentication.getPrincipal()은 Principal객체를 리턴하는 타임리프의 유틸리티이다.
			-->
			<div class="my-3">
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
 					
 					sec:authorize="isAuthenticated()"
 					
 					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
 					
 					th:text="수정"></a>
					
					<!-- 삭제버튼 추가 -->
				<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}}"
					
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					
						th:text="삭제"></a>
			</div>
			
			
			
		</div>
	</div>
	
	<!-- 답변의 갯수 표시 -->
	<h5 class="border-bottom my-3 py-2"
		th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|">
	</h5>
	
	<!-- 질문에 대한 답변글의 갯수 출력 
	Lists.size() : 타임리프에서 제공해주는 메소드 , List에 몇개의 객체가 저장되어있는지 알려준다.
	-->
	<!-- 답변 반복 시작 -->
	<div class="card my-3" th:each="answer : ${question.answerList}">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;"
				th:text="${answer.content}"></div>
			<div class="d-flex justify-content-end">
			
				<!-- 2월 16일 답변날짜 추가 -->
				<div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
			
				<div class="badge bg-light text-dark p-2 text-start">
				
					<!-- 2월 16일 추가 : 작성자 -->
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					
					<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
				
				</div>
			</div>
			
			<!-- 답변수정 -->
			<div class="my-3">
			 <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
			 
			 sec:authorize="isAuthenticated()"
			 
			 th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
			 
			 th:text="수정"></a>
			 
			 <!-- 답변삭제 -->
			 <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
			 	class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
			 	th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
			 	th:text="삭제"></a>
			 </div>
			
		</div>
	</div>
</div>

	<!--답변작성-->
	<!-- 
	   Thymeleaf 에서 링크 : @{ }
	   Thymeleaf 에서 Model 객체의 변수값 받기 : ${변수명}
	   Thymeleaf 에서 String + 변수 : | String 변수 |
	   
	   http://localhost:9595/answer/create/1
	 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post"class="my-3">
			<!-- 외부 파일에서 import -->
		<div th:replace="~{form_errors::formErrorsFragment}"></div>
		
		
		<!-- 내부 파일 
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
		</div>
		-->
	
		<!-- 2월 16일 수정 : Spring Security 중 답변글 작성시 login 페이지로 이동후 글 사라지는 문제 처리 
		<textarea name="content" th:field="*{content}" id="content" rows="10" class="form-control"></textarea>
		 -->
	
	
		<!-- 2월 16일 답변글 작성시 login후 답변글이 남아있도록 설정, logout시 답변글을 못사용하도록 설정 -->
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}"rows="10"class="form-control"></textarea>
		
		
		<input type="submit"value="답변등록"class="btn btn-primary my-2">
	
	</form>

</div>
<!-- 2월 16일 JavaScript 추가 블락 -->
<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			if(confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>